.modal__container{
  max-width: 400px;
}

.add-user-form-container{
  display: grid;
  place-items: center;
  gap: 1rem;
}

.input-container{
  width: 100%;
}

#add-user-btn{
  margin-top: 1.5rem;
  width: 100%;
}
